@import "../../index.scss";
$color-header: #666666;
$color-link: #0c77bb;

.form-header__block {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

h1 {
    color: $color-header;
    font-size: 30px;

    b {
        color: $color-dark;
    }
}

a {
    color: $color-link;
    text-decoration: underline dashed;
    text-underline-offset: 3px;
    margin-left: 123px;
}

.status {
    font-size: 18px;
    height: 50px;
    width: 34rem;
    padding: 19px 12px 8px;
    color: #404040;
    background-color: #eaeaea;
    margin-left: 220px;
    margin-top: 11px;
}

.status::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 34.66%; bottom: 84.8%; /* Положение треугольника */
    border: 10px solid transparent; border-bottom: 10px solid #eaeaea;
}
