@import "../../index.scss";
$color-header: #666666;
$color-link: #0c77bb;

.form-header__block {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

h1 {
    color: $color-header;
    font-size: 30px;

    b {
        color: $color-dark;
    }
}

a {
    color: $color-link;
    text-decoration: underline dashed;
    text-underline-offset: 3px;
    margin-left: 123px;
}

.status {
    width: 503px;
    padding: 19px 12px 8px;
    color: #404040;
    background-color: #eaeaea;
    margin-left: 230px;
    margin-top: 11px;
}
