fieldset {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    margin-top: 47px;
}

label {
    display: block;
    min-width: 224px;
    font-size: 21px;
}

.description {
    width: 339px;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    padding-left: 18px;
}

@media screen and (max-width:1042px){
    fieldset {
        background: rgba(5, 35, 87, 0.377);
        flex-wrap: wrap;
    }
}